* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arimo', sans-serif;
  color: #1B1A1E;
  line-height: 1.6;
  background-color: #F7F2DE;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #0B0A08;
  padding-top: 16px;
padding-bottom: 16px;
width: 100%;
}

/* Nav høyre */
.nav-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
/* banner logo øverts*/
.nav-logo, .nav-logo h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #1B1A1E;
  z-index: 9999;
  margin-top: 1.5rem;
  text-decoration: none;

}

.handle-button {
  background: #28BD6D;
  border-radius: 100px;
  padding: 10px;
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  color: black;
  gap: 10px; 
  display: inline-flex;
}
.nav-left {
  flex: 0 0 auto;
  
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
  margin-left: 2rem;
}

  .hamburger:hover {
  opacity: 0.4;
}

.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: #1B1A1E;
  border-radius: 2px;
  transition: background-color 0.5s ease;
}
.popover-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 475px;
  height: 918px;
  background-color: #28BD6D;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.popover-menu::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 2.6rem;
  position: absolute;
  transform: translateX(-0.5px);
}

.popover-menu.active {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

/* close button */
.close-menu {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  color: #0B0A08;
font-size: 24px;
font-family: Font Awesome 6 Pro;
font-weight: 300;
word-wrap: break-word
}

/* Meny */
.menu-list {
  list-style: none;
  padding-top: 12rem;
  width: 100%;
  text-align: center;
}

.menu-list li {
  width: 100%;
}

.menu-list a {
  font-size: 36px;
  font-family: 'Arimo', sans-serif;
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  padding: 1rem 0;
  line-height: 36px;
}

.menu-list a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .popover-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 3rem 1.5rem;
    gap: 3rem;
    border-radius: 0;
    box-shadow: none;
    max-width: none;
  }

  .menu-list a {
    font-size: 1.75rem;
  }

  .close-menu {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  color: #0B0A08;
font-size: 24px;
font-family: Font Awesome 6 Pro;
font-weight: 300;
word-wrap: break-word
  }
}
h1, h2, h3 {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;

}

h2 {
  color: #1B1A1E; font-size: 36px; font-family: Arimo;
}

h3 {
  color: #1B1A1E; font-size: 24px; font-family: Arimo;
}
h4 {
  color: #ffffff; font-size: 36px; font-family: Arimo;
}
.hero-section {
  width: 100%;
  overflow: hidden;
}

.hero-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero-img {
  width: 100%;
height: 1110px;
flex-shrink: 0;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.hero-title {
  font-size: 200px;
  font-family: 'Frank Ruhl Libre', serif;
  color: white;
  text-transform: uppercase;
}

.vertical-line {
  width: 2px;
  height: 300px;
  background-color: white;
  margin-bottom: 3.5rem;
}

.hero-subtitle {
  max-width: 416px;
  font-size: 36px;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .hero-img {
    height: 579px;
  }

  .hero-title {
    font-size: 75px;
    margin-top: -1rem;
  }

  .vertical-line {
    height: 239px;
    margin-bottom: 2rem;
    width: 1px;
    margin-top: -1.5rem;

  }

  .hero-subtitle {
    text-align: center;
font-family: Arimo;
font-size: 24px;
font-weight: 400;
line-height: normal;
    text-transform: none;
    width: 248px;
  }

  .hero-overlay {
    top: 4rem;
  }
}
.card-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: white;

}
.card-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0.5px;
  background-color: black;
  transform: translateX(-0.5px);
}

.card h2, .card-2 h2 {
color: #1B1A1E;
font-size: 36px;
font-family: Arimo;
font-weight: 400;
text-transform: uppercase;
line-height: 36px;
word-wrap: break-word;
max-width: 405px;
  margin: 0 auto;   
  text-align: center;
  margin-bottom: 0.5rem;
  }
.card p, .card-2 p {
font-family: Frank Ruhl Libre;
  font-weight: 300;
  Size: 20px;
  letter-spacing: 0%;
  width: 360px;
  margin: 0 auto;   
  text-align: center;
   padding-bottom: 44px;
 padding-left: 2rem;
 padding-right: 2rem;
   
  }
.card, .card-2 {
  flex: 0 0 50%;
  background-color: #fff;
  text-align: center;
  word-wrap: break-word;
  width: 756px;
height: 841px;
  padding-top: 90px;
padding-bottom: 90px;

}

.card img, .card-2 img {
  border-radius: 16px;
  margin: auto;
  width: 448px;
  height: 327px;
  object-fit: cover;
  margin-bottom: 44px;
}
.card button, .card-2 button {
  background-color: #DC4131;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  height: 44px;
  margin: 0 auto;
}

.card button:hover, .card-2 button:hover {
  background-color: #b83226;
}
@media (max-width: 768px) {
  .card img, .card-2 img {
    width: 100%;
    height: 250px;
    
    display: block;
    object-fit: cover;
  }
 .card-section {
    flex-direction: column;
    padding: 0 1rem;
  }

  .card, .card-2 {
    flex: 1 1 100%;
    max-width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  .card h2, .card-2 h2 {
    font-size: 24px;
    max-width: 70%;
  }

  .card p, .card-2 p {
    font-size: 16px;
    padding: 0 1rem 2rem;
  }

  .card-section::before {
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    transform: translateY(-0.5px);
    outline: 1px;
  }

.card button, .card-2 button {
  background-color: #DC4131;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0rem;
  width: 90%;
  height: 44px;
}

.card button:hover, .card-2 button:hover {
  background-color: #b83226;
}
 }

.how-it-works {
  background-color: #F7F2DE;
  padding: 0rem;
   outline: 1px solid black;
}
.how-intro h2 {
  font-family: arimo, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  width: 377px;
  height: 36px;
  padding-right: 16px;
padding-left: 16px;
gap: 10px;

}

/* Layout: side-by-side on desktop */
.how-layout {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;

}
.how-intro {
  display: flex;
  justify-content: center;
  align-items: center;         
  text-align: center;
  flex: 0 0 550px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  
}

/* høyre artikler*/
.article-grid {
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
 margin: 0;
  gap: 3rem;
  
}

/* Individuell artikkel*/
.step-article {
  position: flex;
  padding-top: 3rem;
  display: flex;
  gap: 7rem;
  align-items: center;
  padding-bottom: 3rem;
  padding-left: 5rem;
  border-top: 1px solid black;
  padding-right: 10rem;
}

.step-article h3 {
  color: #1B1A1E;
  font-size: 20px;
  font-family: Arimo;
  font-weight: 400;
  text-transform: uppercase;
text-align: left;
  white-space: nowrap;

}

.step-article p {
  align-self: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1; 
  padding-left: 0rem;
}

.step-article a {
  color: rgba(0, 0, 0, 0.70);
  font-size: 16px;
  font-family: Elza;
  font-weight: 400;
  text-decoration: underline;
  word-wrap: break-word;
}
@media (max-width: 768px) {
  .how-layout {
    flex-direction: column;
    gap: 0;
  }
  .how-it-works {
    outline: none;
  }

  .step-article {
  flex-direction: column;
  gap: 1rem;
  border-left: 0px;
    border-right: 0px;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: left;

   } 
 .step-wrapper {
   grid-template-columns: 0fr;
    justify-content: left;
    border-left: 0px;
    border-right: 0px;
   }

  .step-article h3 {
  font-size: 20px;
  font-family: Arimo;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  justify-content: left;
  text-align: left;
  align-items: flex-start;
  margin-left: -10rem;
}

.step-article p {
  flex: 1;
  font-size: 16px;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

  .how-intro h2 {
    font-size: 24px;
    display: flex;
    
    
}
}

/*  Popular Produce */
.popular-produce {
  background-color: white;
  padding: 90px 45px;
}

.popular-produce h2 {
  font-size: 36px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  padding-left: 2rem;
}

/* Grid på pc */
.slider-track {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.produce-card {
  background-color: #fff;
  padding: 1.5rem;
  font-family: 'Arimo', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  
}
.produce-card h3 {
  font-size: 24px;
  font-family: Arimo;
  text-transform: none;
  margin: 0;
  color: #1B1A1E;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin: 0;
  
}
.produce-card-row {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  color: #1B1A1E;
}
.kg-row {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  color: rgba(27, 26, 30, 0.80);
}
.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper img {
  object-fit: cover;
  border-radius: 16px;
  width: 600px;
  height: 532px;
}
.overlay-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 12px 18px;
  font-size: 14px;
  color: white;
  background: #0B0A08;
  border-radius: 44px;
  border: none;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.overlay-button:hover {
  background-color: #008F51;
  
}

@media (max-width: 768px) {
  .popular-produce {
  background-color: white;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
  padding-left: 1rem;
}
.popular-produce h2 {
padding: 1rem;
width: 100%;
font-size: 24px;
}
  .produce-card {
    padding: 1rem;
  }
.image-wrapper {
  width: 250px;
  height: 321px;
  object-fit: cover;
  border-radius: 16px;
  display: block;
  }
  .produce-card-row h3, p {
    font-size: 20px;
  }

  .price-row {
    font-size: 20px;
  }

  .overlay-button {
    padding: 8px 12px;
    font-size: 14px;
    color: white;
  }
}

.slider-btn {
  display: none;
}

/* === Responsive === */
@media (max-width: 768px) {
  .card-section {
    flex-direction: column;
  }

  .how-layout {
    flex-direction: column;
  }

  .how-intro {
    border-right: 0px;
    border-bottom: 0px;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    flex: 0 0 200px;
  }

  /* Popular produce: slider på mobil */
  .slider-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: -1rem;
  }

  .slider-track {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
  }

  .slider-track::-webkit-scrollbar {
    display: none;
  }

  .produce-card {
    flex: 0 0 80%;
    min-width: 280px;
  }

  .slider-btn {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #0B0A08;
    margin-top: -6rem;
  }

}
/* Newsletter  */
.newsletter {
  background-color: #DC4131;
  color: white;
  padding: 10px 90px 45px;
}

.newsletter-logo {
  font-size: 48px;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  font-family: 'Frank Ruhl Libre', serif;
  text-transform: uppercase;
  padding-left: 0rem;
}

.newsletter-subheading {
  font-size: 36px;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 3rem;
  line-height: 36px;
  text-align: left;
  padding-left: 0rem;
}

.newsletter-text {
  max-width: 407px;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  margin-bottom: 2rem;
  padding-left: 0rem;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0rem;
  width: 459px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 459px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

.newsletter-form button {
  width: 459px;
  background-color: #E1EAF0;
  color: #0B0A08;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

/* === Responsiv justering === */
@media (max-width: 768px) {
  .newsletter, .newsletter-form, .form-group, .newsletter-form button {
    padding-left: 1rem;
    padding-right: 1rem;
    
  }
  .newsletter-form,
.form-group,
.form-group input,
.newsletter-form button {
  width: 100%;
  max-width: 459px;
}

  .newsletter-text {
    font-size: 16px;
padding-left: 1rem;
  }
  .newsletter-subheading {
    font-size: 24px;
    padding-left: 1rem;
}
  .form-group {
    display: flex;
height: 44px;
padding: 10px;
align-items: center;
gap: 10px;
align-self: stretch;
padding-left: 0rem;

  }
  }

  .newsletter-logo {
    font-size: 48px;
  }

